/*Reset css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* common */
.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.333333%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.right {
    float: right !important;
}

/* Button */
.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 39px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/*
1 từ ngoài vào trong
2 từ trên xuống dưới
3 từ tổng quan đến chi tiết
*/
/*
1.vị trí
2.kích thước
3.màu sắc
4.kiểu dáng(Kiểu chữ hình tròn, vuông...)
*/

#main {}

/* Header */
#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    max-width: 100%;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style: none;
}

#nav>li {
    display: inline-block;
}

#nav li {

    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    top: 100%;
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav li:hover {
    color: #fff;
    background-color: #ccc;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav>li:hover>a {
    color: #fff;
    background-color: #ccc;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}


#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {

    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

/* Slider */
#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slide1/la.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    color: #fff;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-shadow: 0 0 1px #000;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;

}

#content {}

/* Content */
#content .content-section {
    width: 800px;
    max-width: 100%;
    padding-top: 64px;
    padding-bottom: 112px;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
    opacity: 60%;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 32 px;
}

#content .member-name {
    font-size: 15px;

}

#content .member-img {
    width: 154px;
    border-radius: 4px;
    margin-top: 15px;
}

/* Tour section */
.tour-section {
    background-color: #000;

}

/* Ticket list */
.ticket-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.ticket-list .soldout {
    background-color: #f44336;
    color: #fff;
    padding: 3px 1px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    background-color: black;
    color: white;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    margin-top: -3px;
}

/* place */

.place-list {
    margin-top: 16px;
}


.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    font-size: 15px;
    padding: 16px;
    background-color: #fff;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}


/* Contact form */
.contact-content {
    margin-top: 48px;
}

.contact-infor {
    font-size: 18px;
}

.contact-infor i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}
.contact-infor a {
    color: #101aef;
    opacity: 0.8;
}
.contact-infor a:hover{
    opacity: 1;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 11px 17px;
    float: right;
}

.map-section img {
    width: 100%;
}

/* Footer */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.modal-body {
    padding: 16px;
}

label.modal-label {
    display: block;
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 5px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;

}

#buy-ticket {
    width: 100%;
    color: #fff;
    background: #009688;
    font-size: 15px;
    padding: 18px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

#buy-ticket {
    opacity: 0.9;
}

.modal-footer {

    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

.modal.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}